@import "styles/variables";

.header {
  background-color: rgb(255, 255, 255, 0.75);
  border-bottom: 1px solid #e5e7eb;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
  height: 64px;
}

.menu {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
}

.authSection {
  display: flex;
  gap: 24px;
}

.link {
  text-decoration: none;
  color: $color-header-text;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.2s ease;

  &:hover {
    color: $color-primary;
  }
}

.active {
  color: $color-primary;
  border-bottom: 2px solid $color-primary;
  padding-bottom: 2px;
}
